* {
  /* CSS Reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #434343;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto 140px;
  color: #fff; 
}

/* Quotes Section */

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
  text-align: center;
  margin: 50px 80px 0 80px; 
}

#main #container #quote {
  font-size: 23px;
  padding-bottom: 12px;
}

#main #container #author {
  font-size: 18px;
}

